<div class="container">
    <div class="sidebar">
        <ul class="sidebar__list">
            <img class="sidebar__photo" src="assets/img/photo.jpeg" alt="Imagen de Minerva">
            <a href="/aboutMe" class="sidebar__element">
                <i class="fas fa-info-circle"></i>
                Sobre mi
            </a>
            <a href="/study" class="sidebar__element">
                <i class="fas fa-user-graduate"></i>
                Estudios
            </a>
            <a href="/work" class="sidebar__element">
                <i class="fas fa-briefcase"></i>
                Trabajo
            </a>
            <a href="/contact" class="sidebar__element">
                <i class="fas fa-mobile"></i>
                Contacto
            </a>
        </ul>
    </div>
    <div class="main">
        <div class="main__Text">
            <h2 class="main__title">Sobre mi</h2>
            <p class="main__text">
                Mi nombre es Minerva. Esta es mi hoja de vida hecha en Angular.
                En esta página encontrarás información sobre mí. En la barra lateral
                está la barra de navegación para navegar entre los distintos componentes.
            </p>
        </div>
        <div class="main__img">
            <img class="main__photo" src="assets/icons/img.svg" alt="Personal Website Illustration">
        </div>
    </div>
</div>