.container {
    display: grid;
    grid-template-areas: "sidebar main";
    height: 100vh;
}

.sidebar {
    background-color: #879FA9;
    height: 100%;
    width: fit-content;
    grid-area: "sidebar";
    border: 8px solid #fff;
    
}

.sidebar__list {
    list-style: none;
    display: flex;  
    flex-direction: column;
    padding: 0;
}

.sidebar__photo {
    width: 320px;
    border-bottom: 8px solid #fff;
}

.sidebar__element {
    padding: 13px 0;
    font-size: 27px;
    color: #fff;
    text-align: center;
    transition: all .5s;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}
.sidebar__element:hover{
    cursor: pointer;
    background-color: #FAEDF0;
    color: #000;
}

.main {
    grid-area: "main";
    display: flex;
    flex-direction: column;
    
}

.main__title {
    color: #283747;
    font-size: 75px;
    text-align: start;
    margin: 25px;
}

.main__text {
    color:  #fff;
    font-size: 34px;
    margin: 27px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(135, 159, 169, .5);
    text-align: left;
}

.main__img {
    display: flex;
    justify-content: center;
}

.main__photo {
    width: 575px;
    padding: 25px;
}
