<div class="container">
    <div class="sidebar">
        <ul class="sidebar__list">
            <img class="sidebar__photo" src="assets/img/photo.jpeg" alt="Imagen de Minerva">
            <a href="/aboutMe" class="sidebar__element">
                <i class="fas fa-info-circle"></i>
                Sobre mi
            </a>
            <a href="/study" class="sidebar__element">
                <i class="fas fa-user-graduate"></i>
                Estudios
            </a>
            <a href="/work" class="sidebar__element">
                <i class="fas fa-briefcase"></i>
                Trabajo
            </a>
            <a href="/contact" class="sidebar__element">
                <i class="fas fa-mobile"></i>
                Contacto
            </a>
        </ul>
    </div>
    <div class="main">
        <div class="main__title">
            <h2 class="title">Información de Contacto</h2>
            <i class="ico fas fa-mobile"></i>
        </div>
        <ul class="main__list">
            <li class="list__element">
                <i class="fas fa-user"></i>
                Minerva Briceño
            </li>
            <li class="list__element">
                <i class="fas fa-phone-alt"></i>
                3124102617 
            </li>
            <li class="list__element">
                <i class="fas fa-envelope"></i>
                minerva_bg@hotmail.com 
            </li>
            <li class="list__element">
                <i class="fas fa-globe-americas"></i>
                Bogotá D.C - Colombia 
            </li>
        </ul>
    </div>
</div>