<div class="container">
    <div class="sidebar">
        <ul class="sidebar__list">
            <img class="sidebar__photo" src="assets/img/photo.jpeg" alt="Imagen de Minerva">
            <a href="/aboutMe" class="sidebar__element">
                <i class="fas fa-info-circle"></i>
                Sobre mi
            </a>
            <a href="/study" class="sidebar__element">
                <i class="fas fa-user-graduate"></i>
                Estudios
            </a>
            <a href="/work" class="sidebar__element">
                <i class="fas fa-briefcase"></i>
                Trabajo
            </a>
            <a href="/contact" class="sidebar__element">
                <i class="fas fa-mobile"></i>
                Contacto
            </a>
        </ul>
    </div>
    <div class="main">
        <div class="main__title">
            <h2 class="title">Trabajo</h2>
            <i class="ico fas fa-briefcase"></i>
        </div>
        <div class="main__list">
            <ul class="list">
                <li class="list__element">
                    Sustanciadora Procuraduría General de la Nación 2019
                </li>
                <li class="list__element">
                    Representante legal Gallón Fernández & Briceño abogados 2021
                </li>
                <li class="list__element">
                    Abogada MYBIZ Colombia 2021
                </li>
            </ul>
        </div>
    </div>
</div>