<div class="container">
    <div class="sidebar">
        <ul class="sidebar__list">
            <img class="sidebar__photo" src="assets/img/photo.jpeg" alt="Imagen de Minerva">
            <a href="/aboutMe" class="sidebar__element">
                <i class="fas fa-info-circle"></i>
                Sobre mi
            </a>
            <a href="/study" class="sidebar__element">
                <i class="fas fa-user-graduate"></i>
                Estudios
            </a>
            <a href="/work" class="sidebar__element">
                <i class="fas fa-briefcase"></i>
                Trabajo
            </a>
            <a href="/contact" class="sidebar__element">
                <i class="fas fa-mobile"></i>
                Contacto
            </a>
        </ul>
    </div>
    <div class="main">
        <div class="main__title">
            <h2 class="title">Estudios</h2>
            <i class="ico fas fa-university"></i>
        </div>
        <div class="main__list">
            <ul class="list">
                <li class="list__element">
                    <i class="fas fa-balance-scale"></i>
                    Abogada de la Universidad Sergio Arboleda
                </li>
                <li class="list__element">
                    <i class="fas fa-comments-dollar"></i>
                    Especialista en Derecho Comercial y Financiero
                </li>
            </ul>
        </div>
        <div class="main__img">
            <img class="main__svg" src="assets/icons/study.svg" alt="Icono de estudios">
        </div>
    </div>
</div>
